**Wrangling State Census Data**

In [17]:
import numpy as np
import pandas as pd
import os
import missingno as mn

In [18]:
os.getcwd()

'/Users/phebe/GitHub/Fatal-Police-Shootings-WaPo'

In [19]:
data = pd.read_csv('../Fatal-Police-Shootings-WaPo/State 2020 Census Race Data.csv')

In [20]:
df = data.copy()

In [21]:
df.columns

Index(['Label (Grouping)', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype='object')

In [22]:
print(df['Label (Grouping)'])

0                                                Total:
1                                    Hispanic or Latino
2                               Not Hispanic or Latino:
3                               Population of one race:
4                                           White alone
                            ...
68                    White; Black or African Americ...
69                    White; American Indian and Ala...
70                    Black or African American; Ame...
71                             Population of six races:
72                    White; Black or African Americ...
Name: Label (Grouping), Length: 73, dtype: object

In [23]:
df.drop(columns='Puerto Rico', inplace=True)

In [24]:
df.columns

Index(['Label (Grouping)', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype='object')

In [25]:
df.head(10)

,Label (Grouping),Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,Total:,"3,917,166","554,003","5,541,976","2,312,273","30,827,105","4,509,576","2,869,227","783,543","575,161",...,"669,255","5,384,473","21,866,700","2,324,051","524,482","6,745,054","6,024,689","1,432,932","4,612,300","441,337"
1,Hispanic or Latino,"166,856","33,441","1,489,617","162,002","11,083,294","864,196","430,695","67,906","60,375",...,"23,855","305,717","7,907,319","316,610","11,113","614,314","690,674","23,483","284,069","38,153"
2,Not Hispanic or Latino:,"3,750,310","520,562","4,052,359","2,150,271","19,743,811","3,645,380","2,438,532","715,637","514,786",...,"645,400","5,078,756","13,959,381","2,007,441","513,369","6,130,740","5,334,015","1,409,449","4,328,231","403,184"
3,Population of one race:,"3,630,366","477,883","3,878,116","2,053,883","18,667,744","3,475,182","2,350,906","689,358","493,346",...,"626,358","4,905,355","13,383,911","1,939,192","493,111","5,889,671","5,010,567","1,363,350","4,208,416","387,844"
4,White alone,"2,564,544","340,580","3,218,094","1,653,772","11,672,897","3,095,664","1,913,793","489,226","234,767",...,"556,081","3,958,296","9,437,993","1,798,000","474,146","4,136,979","4,058,504","1,293,040","3,774,226","370,041"
5,Black or African American alone,"976,732","16,566","236,894","331,235","1,694,380","168,127","279,080","161,576","223,540",...,"11,408","812,207","2,575,257","25,370","6,143","1,224,840","223,861","52,002","258,704","3,666"
6,American Indian and Alaska Native ...,"18,137","75,017","189,473","15,691","122,657","26,942","4,967","2,090","1,063",...,"47,084","12,745","67,248","20,985","1,632","15,376","68,149","2,761","35,459","7,883"
7,Asian alone,"59,997","34,290","199,796","39,675","4,906,293","155,965","132,859","33,202","30,795",...,"9,918","103,925","1,205,578","62,825","9,117","478,337","584,457","12,233","126,019","4,139"
8,Native Hawaiian and Other Pacific ...,"1,872","8,122","10,590","8,250","109,178","6,646",757,240,305,...,395,"2,625","20,144","23,424",144,"4,754","43,639",333,"1,446",355
9,Some Other Race alone,"9,084","3,308","23,269","5,260","162,339","21,838","19,450","3,024","2,876",...,"1,472","15,557","77,691","8,588","1,929","29,385","31,957","2,981","12,562","1,760"